@page
@model MVCRealEstate.Pages.admin.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Login";
	Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">
		@Model.ErrorMessage
	</div>
}
<div class="row justify-content-center">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="card shadow mt-5">
			<div class="card-body" style="padding:20px;">
				<h4 class="card-title text-center" style="margin:unset;">Se connecter</h4>
				<hr />
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Login" class="control-label">Identifiant</label>
						<input asp-for="Login" class="form-control" />
					</div>
					<div class="form-group">
						<label asp-for="Password" class="control-label">Mot de passe</label>
						<input asp-for="Password" class="form-control" type="password" />
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary w-100">Login</button>
					</div>
					<p class="text-danger text-center">@Model.ErrorMessage</p>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>