@page
@model MVCRealEstate.Pages.admin.locations.CreateModel
@{
	ViewData["Title"] = "Ajouter une adresse";
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Créer un Emplacement</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Location.Address"></label>
        <input asp-for="Location.Address" class="form-control" />
        <span asp-validation-for="Location.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location.City"></label>
        <input asp-for="Location.City" class="form-control" />
        <span asp-validation-for="Location.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location.longitude"></label>
        <input asp-for="Location.longitude" class="form-control" />
        <span asp-validation-for="Location.longitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location.latitude"></label>
        <input asp-for="Location.latitude" class="form-control" />
        <span asp-validation-for="Location.latitude" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
    <a asp-page="./Index" class="btn btn-secondary">Annuler</a>
</form>