@page
@model MVCRealEstate.Pages.admin.owners.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Modifier l'agence";
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<h1>Modifier un Propriétaire</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="OwnerInfo.OwnerInfoId"></label>
        <input asp-for="OwnerInfo.OwnerInfoId" class="form-control" />
        <span asp-validation-for="OwnerInfo.OwnerInfoId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OwnerInfo.FirstName"></label>
        <input asp-for="OwnerInfo.FirstName" class="form-control" />
        <span asp-validation-for="OwnerInfo.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OwnerInfo.LastName"></label>
        <input asp-for="OwnerInfo.LastName" class="form-control" />
        <span asp-validation-for="OwnerInfo.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OwnerInfo.Email"></label>
        <input asp-for="OwnerInfo.Email" class="form-control" />
        <span asp-validation-for="OwnerInfo.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OwnerInfo.Address"></label>
        <input asp-for="OwnerInfo.Address" class="form-control" />
        <span asp-validation-for="OwnerInfo.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhonesAsString"></label>
        <input asp-for="PhonesAsString" class="form-control" placeholder="Séparez les numéros par une virgule" />
        <span asp-validation-for="PhonesAsString" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-page="./Index" class="btn btn-secondary">Annuler</a>
</form>