.container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    gap:20px;
    margin-top:20px;
}

.card{
    background-color:#fff;
    box-shadow:1px 1px 6px #808080;
    padding:15px ;
    display:grid;
    grid-template-columns: 30% auto;
    gap:15px
}

.medias{
    background-color:red;
}

.rows{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:15px;
}

.rows div{
    outline:auto;
}

.rows .first .title {
    all: unset;
    font-size: 25px;
    font-weight: 700;
    color: #292929;
}

.rows .third{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

.search-bar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:20px;
}

.search-bar input[type="submit"]{
    width:40%;
}