.detail-container{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    gap:30px;
}
.detail-container .header{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center
}

.title{
    font-size:25px;
}

.carousel{
    width:100%;
    height:500px;
    background-color:red;
}

.carousel img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.sections{
    width:100%;
    display:grid;
    grid-template-columns: 65% 30%;
    justify-content:space-between;
}

.right{
    height:100%;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.actions{
    height:250px;
    outline:auto;
}

