@model MVCRealEstate.Models.User

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow mt-5">
                <div class="card-body">
                    <h4 class="card-title text-center">Inscription</h4>
                    <hr />
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

                        <div class="form-group my-3">
                            <label asp-for="FirstName" class="control-label">Prénom</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group my-3">
                            <label asp-for="LastName" class="control-label">Nom</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group my-3">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group my-3">
                            <label asp-for="Login" class="control-label">Identifiant</label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>

                        <div class="form-group my-3">
                            <label asp-for="Password" class="control-label">Mot de passe</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group my-3 text-center">
                            <input type="submit" value="S'inscrire" class="btn btn-a" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
